/*===================*/
/*-- scss:defaults --*/
/*===================*/

$font-family-sans-serif: 'Noto Sans';
$presentation-heading-font: 'Noto Sans';

$body-color: #002864;
$body-bg: #ffffff;

$darkblue: #002864;
$lightblue: #cdd8ec;
$helmholtzblue: #005aa0;
$titlepadding: 8%;
$hrulerY: 3.5vw;
$borderthickness: 2px;
$heightoffset: 5vw;
$footerheight: 1.8vw;
$slideverticaloffset: 6vw;
$footerpadding: 0.5rem;
$rightpadding: 25px;
$presentation-title-slide-text-align: left;
$mainFontSize: 2.4rem;
$heading3Size: calc(1.20 * $mainFontSize);
$heading2Size: calc(1.40 * $mainFontSize);
$heading1Size: calc(1.60 * $mainFontSize);
$backgroundimagedir:'../../../../../custom/images/';

@mixin backgroundimage($filename, $position: bottom right, $width:100vw, $opacity: 00, $margin: 0) {
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #{$body-bg}#{$opacity};
    z-index: 1; // Adjust the stacking order as needed
  }
  
  background: {
    image: url(#{$backgroundimagedir}#{$filename});
    position: $position;
    repeat: no-repeat;
    size: $width auto;
  }
  margin: $margin;

}

/*********************************************
 * Imports
 *********************************************/
@import './additional.scss';

/*********************************************
 * Global Custom Settings
 *********************************************/
.reveal .slides {

    width: calc(100% - 2*$slideverticaloffset) !important;
    height: calc(100% - $heightoffset) !important;
    transform: none !important;
    inset: 0 !important;

    .present {
        /* display: flex !important; */
        flex-flow: column !important;
        justify-content: stretch !important;
        flex-direction: column;
    }
}

/*********************************************
 * Additional Settings for Default Envs.
 *********************************************/

h1::after {
  content: '\00a0'; /* This represents the non-breaking space character */
  font-weight: normal; /* Example styling */
  color: #999; /* Example styling */
}

h2 {
    min-height: $heading2Size !important; /**/
    padding-bottom: calc(2 * $hrulerY) !important;
}

h2::before {
    content: '\00a0'; /* This represents the non-breaking space character */
    font-weight: normal; /* Example styling */
    color: #999; /* Example styling */
}

h3::after {
  content: '\00a0'; /* This represents the non-breaking space character */
  font-weight: normal; /* Example styling */
  color: #999; /* Example styling */
}

/*********************************************
 * Custom Title Slide
 *********************************************/

.reveal .quarto-title-block h1 {
    padding-top: $titlepadding;
}

/*********************************************
 * Custom Settings
 *********************************************/

.reveal .footer {
    width: 100vw !important;
    height: $footerheight !important;
    z-index: 10 !important;
    background-color: $body-color;
    padding-top: $footerpadding;
    padding-left: $slideverticaloffset;
    padding-bottom: $footerpadding;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    bottom: 0 !important;
    position: fixed !important;
    
    p {
        font-size: 100%;
    }
}

.reveal .slide-menu-button {
    z-index: 11 !important;
}


.slide-logo {
  top: 2vw;
  right: 2*$rightpadding;
  display: flex;
  position: absolute !important;
  justify-content: center;
  display: block !important;
  max-height: 8vh !important;
  width: auto !important;
  color: $body-bg !important;
  margin: 0 !important;
}

.search-bar {
    color: gray;
    background-color: white;
    font-size: 1rem;
    border-radius: 1rem;
    width: 50%;
    margin: 1rem;
    display: flex;
    padding: 0.25rem;

    p {
        margin: 0;
    }

    img {
        color: inherit !important;
        height: 1rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
}

.reveal .slide-menu-button {
    z-index: 11 !important;
}

/*********************************************
 * Slide Number
 *********************************************/

.slide-number {
  right: $rightpadding !important;
  top: unset !important;
  bottom: calc($footerpadding + 0.75 * 3px) !important;
  color: $body-bg;

  .slide-number-a {
    font-size: calc($footerheight - 2 * $footerpadding);
    
  }
}

/*********************************************
 * Custom Classes
 *********************************************/

.quote {
    display: block;
    margin: 1vh 0 1vh 0;
    color: $body-color !important;
    background-color: #cdd8ec;
    border-radius:2px;
    border-left: 0.5rem solid $body-color !important;
    padding-left: 2rem;
}

.small {
    font-size: calc(0.85 * $mainFontSize);
}

.big {
    font-size: calc(1.15 * $mainFontSize);
}

.bigger {
    font-size: calc(1.30 * $mainFontSize);
}

.biggest {
    font-size: calc(1.45 * $mainFontSize);
}

.superbiggest {
    font-size: 2.4rem;
    font-weight: bold;
}

.middle {
    position: absolute; 
    top: 50%; 
    width: 100%;
    transform: translate(0%, -50%);
}

.even {
  display: flex; /*flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: calc(100% - $heightoffset - (2 * $hrulerY ) - $footerheight) !important;
}

.centered {
    position: relative; 
    text-align: center;
    width: 100%;
}

.right {
  float: left;
  width: auto;
  border: 0px solid #73AD21;
  padding: 0px;
}

.left {
  float: right;
  width: auto;
  border: 0px solid #73AD21;
  padding: 0px;
}

iframe {
    display: flex; /*flex;*/
    flex-direction: column;
    justify-content: center;
    width: 71.43% !important;
    height: 71.43% !important;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
  

/*********************************************
 * Boxes
    transform: translate(50%, 0%);
 *********************************************/

%white {
    display: block;
    background-color: white;
    color: $body-color;
    margin: 1rem 0 1rem 0;
    padding: 0.6rem 1.0rem 0.6rem 1.0rem;
    border: thin solid $body-color !important;
    border-radius: 1.0rem;
    border-color: #ffffffff; 
}

.white {
    @extend %white;
}

.lightblue {
    @extend %white;
    background-color: $lightblue;
    color: $body-color;
}

.blue {
    @extend %white;
    background-color: $body-color;
    color: $lightblue;
    
    .lightblue {
        @extend %white;
        margin: .25rem 0 .25rem 0;
        border-radius: 0.5rem;
        border: 0px solid #ffffffff !important;
    };
    
}

.green {
    @extend %white;
    background-color: #144d28;
    color: #cecece;
}

.orange {
    @extend %white;
    background-color: #e08603;
    color: #2f3033;
}

.red {
    @extend %white;
    background-color: #ed4c31;
    color: #2f3033;
}

